
.top {
    /*height: 0;*/
}

.topbar {
    background: #eee;
}
ul.nav.style-2 li a {
    background: #eee;
}
ul.nav.style-2 li a:hover {
    background: #ddd;
}
fieldset .form-control-static {
    border-left: 2px solid #727272;
    background: #eee;
}

ul.nav.style-2 li.active a {
    background-image: inherit;
    border-left: 5px solid #337ab7;
    padding-left: 15px;
}
.buttons > .btn.btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.buttons > .btn.btn-primary:hover {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}